@model IEnumerable<Sube2.HelloMvc.Models.OgrenciDers>
@{
    ViewData["Title"] = "Öğrenci Dersleri";
    int ogrenciid = (int)ViewBag.OgrenciId;
}

<h1>Öğrenci Dersleri</h1>
<a asp-action="AddOgrDers" asp-controller="OgrenciDers" asp-route-ogrenciid="@ogrenciid" class="btn btn-outline-primary">Yeni Ders Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Öğrenci Id</th>
            <th>Öğrenci Ad</th>
            <th>Öğrenci Soyad</th>
            <th>Ders Id</th>
            <th>Ders Adı</th>
            <th>Ders Kredisi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ogrenciid</td>
                <td>@item.Ogrenci.Ad</td>
                <td>@item.Ogrenci.Soyad</td>
                <td>@item.Dersid</td>
                <td>@item.Ders.Dersad</td>
                <td>@item.Ders.Kredi</td>
            </tr>
        }
    </tbody>
</table>

